body {
    padding: 0px;
    margin: 0px;
}

main {
    padding-top: 100px;
    margin-left: 313px;
    width: 1199px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}

.bar-header {
    background-color: #373867;
    width: 1512px;
    height: 98px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    bottom: 0;
}

.bar-header img{
    padding-top: 28px;
    padding-left: 29px;
}

.bar-aside {
    background-color: #AACE9B;
    float: left;
    width: 313px;
    height: 871px;
    text-align: center;
    position: fixed;
    margin-top: 98px;
    top: 0;
    bottom: 0;
}

.container-bottom-aside {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 17px;
}

#title-bottom-aside {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 876;
    font-size: 20px;
    line-height: 23px;
    margin-top: 460px;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color:#FFFFFF;
    text-decoration:underline;
    text-align: center;
}

.container-icon-aside {
    display: inline-block;
}

.container-icon-aside img {
    margin-top: 23px;
    vertical-align: bottom;
    color:#373867;
    text-align: center;
}

.container-img-aside {
    display: inline-block;
    background-color: #FFFFFF;
    margin-top: 16.44px;
    border: 1px solid #373867;
    border-radius: 5px;
    height: 37.691734313964844px;
    width: 263px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
    text-decoration:none;
    font-weight: bold;
}

.container-img-aside img {
    margin-top: 10px;
    vertical-align: bottom;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}

.section-head-title {
    display: inline-block;
    text-align: center;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 76px;
}

.section-head-img{
    float: right;
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
    text-align: center;
    margin-top: 35px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-decoration-color: #49A37B;
}

.section-title span {
    padding: 11px 0;
    font-size: 19px;
    font-size: 25px;
    border-bottom: 3px solid #49A37B
}

#section-title-welcome {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #49A37B
}

.section-head-img img {
    width: 500px;
    height: 315px;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: 76px;
}

.section-features-articles {
    display: inline-block;
    text-align: left;
    width: 400px;
    margin-left: 140px;
}

.section-features-articles p {
    margin-left: 50px;
    width: 350px;
}

.section-features-titles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 876;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #373867;
    font-stretch: 100;
}

.section-about-container p{
    width: 500px;
    text-align: justify;
}

#section-about-container-top {
    margin-bottom: 25px;
    margin-top: 55px;
}

#section-about-container-top p{
    margin-bottom: 30px;
    margin-right: 75px;
    float: right;
}

#section-about-container-bot {
    margin-left: 100px;
}

#section-about-container-bot p {
    display: inline-block;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 140px;
}

.section-about-imgcontainer-right {
    float: right;
    margin-left: 50px;
    margin-right: 75px;
}

.section-about-imgcontainer-right img {
    width: 450px;
    height: 248px;
}

.section-about-imgcontainer-left {
    display: inline-block;
    margin-left: 100px;
}

.section-about-imgcontainer-left img {
    width: 450px;
    height: 248px;
}

.section-touch-form {
    text-align: center;
}

.section-touch-form {
    text-align: center;
}

.form-input {
    width: 260px;
    height: 36px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.form-input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #c6c6c6;
    padding-left: 10px;
}


.section-touch-form select {
    width: 566px;
    height: 36px;
    border: 1px solid #373867;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #c6c6c6;
    padding-left: 10px;
}

.section-touch-form textarea {
    width: 560px;
    height: 210px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.section-touch-form textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #c6c6c6;
    padding-top: 10px;
    padding-left: 10px;
}

.section-touch-form label {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
    margin-top: 30px;
    margin-bottom: 5px;
}

.form-container-top {
    display: inline-block;
    margin-right: 50px;
}

.form-container-bottom {
    display: inline-block;
    vertical-align: top;
}

.form-container-top div{
    text-align: left;
}

.form-container-bottom div{
    text-align: left;
}

.form-button {
    width: 123px;
    height: 47px;
    background: #AACE9B;
    border-width: 0px;
    border-radius: 5px;
    color: #373867;
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.section-activities-list {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #373867;
    font-stretch: 100;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 130px;
}

.section-activities-list li {
    text-align: left;
}

.section-activities-list img {
    width: 636px;
    height: 245px;
}

.section-membership {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #373867;
}

.section-membership-table {
    width: 980px;
    margin-left: 109px;
    text-align: center;
    border-collapse: collapse;
}

.section-membership-table tr:nth-child(odd){
    background-color: #D9D9D9;
}

.section-membership-table tr {
    height: 60px;
}

#membership-table-th {
    width: 146px;
}

footer {
    width: 1199px;
    height: 72px;
    margin-top: 100px;
    margin-left: 313px;
    background-color: #AACE9B;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

footer div{
    padding-top: 10px;
    
}

footer a{
    text-decoration: none;
}

footer div img{
    width: 30px;
    height: 30px;
    margin-left: 12px;
    
}

footer h3{
    padding-bottom: 10px;
    margin-top: 0px;
}

