<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css"/>
        <link rel="stylesheet" href="..\css\main.css"/>
        <link rel="stylesheet" href="..\css\header.css"/>
        <link rel="stylesheet" href="..\css\aside.css"/>
        <link rel="stylesheet" href="..\css\login.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>
            MEGAROCKET WEB
        </title>
    </head>
    <body>
        <header>
            <div class="container-header">
                <img src="../assets/image-megarocket.png" alt="MegaRocket logo">
                <img class ="menu-img" src="../assets/icon-menu.png" alt="Menu icon">
            </div>
        </header>
        <div class="container-body">
            <aside>
                <nav class="bar-aside">
                    <div class="container-top-aside">
                        <a href="../views/index.html">
                            <span class="container-img-aside">
                                <img src="../assets/icon-home2.png" alt="Home icon">
                                    Home
                            </span>
                        </a>
                        <a href="../views/sign-up.html">
                            <span class="container-img-aside">
                                <img src="../assets/icon-arrow.png" alt="Arrow icon">
                                    Sign Up
                            </span>
                        </a>
                        <a href="">
                            <span class="container-img-aside">
                                <img src="../assets/icon-arrow2.png" alt="Arrow icon 2">
                                    Sign In
                            </span>
                        </a>
                    </div>
                    <div class="container-bottom-aside">
                        <h2 id="title-bottom-aside">
                            Contact information
                        </h2>
                        <span class="container-icon-aside">
                            <a href="*">
                                <img src="../assets/icon-message.png" alt="Message icon">
                                information@untitled.tld
                            </a>
                        </span>
                        <span class="container-icon-aside">
                            <img src="../assets/icon-tel.png" alt="Telephone icon">
                            (000) 0000-0000
                        </span>
                        <span class="container-icon-aside">
                            <img src="../assets/icon-home.png" alt="Home icon">
                            1234 Somewhere Road #8254 Nashville, TN
                        </span>
                    </div>
                </nav>
            </aside>
            <main>
                <section class="login-container">
                    <div class="login-title">
                        <h1>Log In</h1>
                    </div>
                    <form class="login-form">
                        <div class="login-form-top">
                            <div class="login-form-input">
                                <label for="email">
                                    Email
                                </label>
                                <input class="form-input" id="form-email" type="text" placeholder="Enter Username">
                                <div class="error"></div>
                            </div>
                            <div class="login-form-input">
                                <label for="password">
                                    Password
                                </label>
                                <input class="form-input" id="form-password" type="password" placeholder="Enter password">
                                <div class="error"></div>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" id="cbox1" value="rememberMe"> Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="login-form-bottom">
                            <a href="">Forgot your Password ?</a>
                            <input class="form-button" id="login-form-button" type="button" value="Login">
                        </div>
                    </form>
                </section>
            </main>
        </div>
    </body>
    <script src="../js/login.js"></script>
</html>