.bar-aside {
    position: fixed;
    float: left;
    width: 313px;
    height: 871px;
    margin-top: 98px;
    background-color: #AACE9B;
    text-align: center;
}

.container-bottom-aside {
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 17px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}

#title-bottom-aside {
    margin-top: 460px;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    font-weight: 876;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.container-icon-aside {
    display: inline-block;
}

.container-icon-aside img {
    margin-top: 23px;
    vertical-align: bottom;
    text-align: center;
    color: #373867;
}

.container-img-aside {
    display: inline-block;
    height: 37px;
    width: 263px;
    margin-top: 16px;
    border: 1px solid #373867;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #373867;
    text-decoration: none;
    font-weight: bold;
}

.container-img-aside img {
    vertical-align: bottom;
    margin-top: 10px;
}
