.section-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.container-section-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-section-head h1 {
    margin-bottom: 0px;
}

#section-head-welcome {
    display: none;
}

.span-section-head {
    width: 100%;
    text-align: center;
}

.section-head span img {
    width: 90%;
    margin: 0px 10px 0px 10px;
}

.section-features {
    text-align: left;
    margin-bottom: 30px;
}

.section-features-articles {
    margin-top: 30px;
}

.section-features-titles {
    width: 100%;
    text-transform: capitalize;
    font-weight: 876;
    font-size: 16px;
    line-height: 28px;
    color: #373867;
}

.section-features-articles img {
    vertical-align: middle;
    margin-left: 50px;
}

.section-features-articles p {
    width: 95%;
    margin: 20px 20px 20px;
    font-size: 14px;
}

.section-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: left;
}

.section-about-container p {
    width: 95%;
    margin: 20px 10px 20px 20px;
}

.section-about-textdesktop {
    display: none;
}

.section-about-container img {
    width: 90%;
    margin: 0px 10px 0px 10px;
}

.section-about-container button {
    width: 82px;
    height: 32px;
    border: 1px solid #373867;
    border-radius: 5px;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #373867;
    margin-bottom: 20px;
}

.section-touch-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.section-touch-form div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 20px 0px 20px;
}

.form-button-top {
    display: none;
}

.form-input {
    width: 260px;
    height: 36px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.form-input::placeholder {
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #c6c6c6;
}

.section-touch-form select {
    width: 270px;
    height: 36px;
    padding-left: 10px;
    border: 1px solid #373867;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #c6c6c6;
}

.section-touch-form textarea {
    width: 265px;
    height: 210px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.section-touch-form textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #c6c6c6;
    padding-top: 10px;
    padding-left: 10px;
}

.section-touch-form label {
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}

.form-button {
    align-self: flex-end;
    width: 76px;
    height: 33px;
    margin-top: 30px;
    border-width: 0px;
    border-radius: 5px;
    background: #AACE9B;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    color: #373867;
}

.section-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.section-activities-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-transform: capitalize;
    font-stretch: 100;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #373867;
}

.section-activities-list div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.activities-list-top {
    align-items: end;
}

.activities-list-bot {
    align-items: start;
    text-align: center;
}

.section-activities-list div li {
    width: 70px;
    text-align: center;
}

.section-activities img {
    width: 90%;
    margin: 0px 10px 0px 10px;
}

.section-membership {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #373867;
}

.section-membership-table {
    width: 90%;
    margin: 0px 10px 0px 10px;
    border-collapse: collapse;
    text-align: center;
}

.table-th-1 {
    width: 40%;
}

.table-th-2 {
    width: 25%;
}

.table-th-3 {
    width: 17%;
}

.section-membership-table tr:nth-child(odd) {
    background-color: #D9D9D9;
}

.section-membership-table tr {
    height: 60px;
}

@media only screen and (min-width: 601px) {

    .section-head {
        flex-direction: row;
        margin-top: 30px;
    }

    .container-section-head {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #section-head-welcome {
        display: flex;
        font-size: 20px;
        line-height: 23px;
        color: #49A37B
    }

    .span-section-head {
        width: 50%;
    }

    .span-section-head img {
        min-height: 190px;
    }

    .section-features {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .section-features-titles {
        font-size: 20px;
    }

    .section-features-titles img {
        margin-left: 20px;
    }

    .section-features-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-features-articles {
        width: 50%;
    }

    .section-features-articles p {
        font-size: 18px;
    }

    .section-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-button-top {
        display: flex;
        justify-content: center;
        width: 123px;
        height: 47px;
        font-size: 16px;
        margin-top: 30px;
        border-width: 0px;
        border-radius: 5px;
        background: #AACE9B;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #373867;
    }

    .section-touch-form div {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 0px 10px 0px 0px;
    }

    .form-button {
        display: none;
    }

    .section-about-flexcontainer {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0px 20px 0px 20px
    }

    .section-about-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .section-about-container p {
        width: 45%;
        font-size: 14px;
    }

    .section-about-textdesktop {
        display: flex;
    }

    .section-about-textmobile {
        display: none;
    }

    .section-about-img {
        display: flex;
        order: 1;
    }

    .section-about-container img {
        width: 45%;
    }

    .section-about-container button {
        display: none;
    }

    .section-activities {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .section-activities-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        font-size: 20px;
        margin: 0px 0px 0px 0px;
        list-style: disc;
    }

    .activities-list-top,  .activities-list-bot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-activities li {
        margin-bottom: 10px;
    }

    .section-activities img {
        width: 55%;
        margin-right: 50px;
    }
}

@media only screen and (min-width: 1025px) {

    .section-head {
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .container-section-head {
        width: 40%;
    }

    #section-head-welcome {
        margin-top: 0px;
        font-size: 20px;
        font-weight: 100;
    }

    .span-section-head {
        width: 40%;
    }

    .span-section-head img {
        max-width: 515px;
        max-height: 315px;
    }

    .section-features-titles {
        display: flex;
        flex-direction: row;
        font-size: 24px;
    }

    .section-features-titles img {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 43px;
        max-height: 38px;
    }

    .section-features-container {
        justify-content: space-evenly;
    }

    .section-features-articles {
        width: 35%;
    }

    .section-features-articles p {
        font-size: 20px;
        margin-left: 63px;
    }

    .section-about-container p {
        font-size: 18px;
    }

    #section-about-container-top p {
        text-align: right;
    }

    .section-touch-form select {
        width: 400px;
        height: 36px;
    }

    .section-touch-form textarea {
        width: 400px;
        height: 210px;
    }

}

